<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GrowmeWSSoap"/>
            </basicHttpBinding>
            <customBinding>
                <binding name="GrowmeWSSoap12">
                    <textMessageEncoding messageVersion="Soap12"/>
                    <httpTransport/>
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/growmeapi/GrowmeWS.asmx" binding="basicHttpBinding" bindingConfiguration="GrowmeWSSoap" contract="wsGrowmeAPI.GrowmeWSSoap" name="GrowmeWSSoap"/>
            <endpoint address="http://localhost/growmeapi/GrowmeWS.asmx" binding="customBinding" bindingConfiguration="GrowmeWSSoap12" contract="wsGrowmeAPI.GrowmeWSSoap" name="GrowmeWSSoap12"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
