<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GrowmeWSSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49752/GrowmeWS.asmx" binding="basicHttpBinding"
                bindingConfiguration="GrowmeWSSoap" contract="wsGrowmeAPI.GrowmeWSSoap"
                name="GrowmeWSSoap" />
        </client>
    </system.serviceModel>
</configuration>