@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1 class="text-center">VENKAT BOOTSTRAP VIDEOS</h1>
</div>

<a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-bold"></span>Blah</a>
<a href="http://andrivrddns.dlinkddns.com:8081/Bootstrap3Docs/"><span class="glyphicon glyphicon-bold"></span>Blah</a>
<div class="glyphicon acf-et-glyph-icon acf-et-tree-structure" style="font-size:200px"></div>