<?xml version="1.0"?>

<configuration>

  <appSettings>
    <add key="serverHTTPBaseAddress" value="http://localhost:8080/ServerHost/"/>
    <add key="dalHTTPBaseAddress" value="http://localhost:8080/dalHost/"/>
  </appSettings>

  <system.web>
    <compilation debug="false" targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <system.serviceModel>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <services>
      <service name="Server.Server" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address="" binding="wsHttpBinding" contract="Server.IServer"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>

      <service name="DAL.DAL" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address="" binding="wsHttpBinding" contract="DAL.IDAL"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
    </services>

    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IServer" closeTimeout="00:10:00"
            openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
            bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
            messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
            allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
                algorithmSuite="Default" establishSecurityContext="true" />
          </security>
        </binding>

        <binding name="WSHttpBinding_IDAL" closeTimeout="00:10:00" openTimeout="00:10:00"
            receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false"
            transactionFlow="false" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
            messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
            allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
                algorithmSuite="Default" establishSecurityContext="true" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>

    <client>
      <endpoint address="http://localhost:8080/ServerHost/" binding="wsHttpBinding"
          bindingConfiguration="WSHttpBinding_IServer" contract="IServer"
          name="WSHttpBinding_IServer">
        <identity>
          <userPrincipalName value="DESKTOP-34HB64I\OTBDEV" />
        </identity>
      </endpoint>

      <endpoint address="http://localhost:8080/dalHost/" binding="wsHttpBinding"
          bindingConfiguration="WSHttpBinding_IDAL" contract="IDAL"
          name="WSHttpBinding_IDAL">
        <identity>
          <userPrincipalName value="DESKTOP-34HB64I\OTBDEV" />
        </identity>
      </endpoint>
    </client>

  </system.serviceModel>
</configuration>