@{
    ViewBag.Title = "Home Page";
}

<!-- Styling -->
<link href="~/Content/CustomCSS/cover.css" rel="stylesheet" />
<style type="text/css">
    .bgimg {
        background-image: url('../Images/Logo_Large.png');
        background-repeat: no-repeat;
        background-size: 100%;
    }
</style>

<div class="text-lg-center text-center cover-container d-flex w-100 h-100 p-3 mx-auto flex-column bgimg">
    <header class="masthead mb-auto">
        <div class="inner">
        </div>
    </header>

    <main role="main" class="inner cover">
        <h1 class="cover-heading">Welcome to AVR Technologies.</h1>
        <br />
        <p class="lead">Here at AVR Technologies we specialise in building ingenious, beautiful and functional websites and desktop applications.</p>
        <p class="lead">We take great pride in everything we build.</p>
        <p class="lead">Providing excellent customer service and advice is a big part of the project development lyfecycle here.</p>
        <p class="lead">Great effort is taken in every project to understand and meet our customers needs, but at the same time designing user friendly apps, keeping our everyday Jack and Jill as audience in mind.</p>
        <br />
        
        <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary">Learn More Here</a>
        </p>
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
        </div>
    </footer>
</div>