<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsSocialRankAPISoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/SocialRankAPI/wsSocialRankAPI.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsSocialRankAPISoap"
                contract="wsSocialRankAPI.wsSocialRankAPISoap" name="wsSocialRankAPISoap" />
        </client>
    </system.serviceModel>
</configuration>