
@{
    ViewBag.Title = "Test";
}

<style>
    html, body {
        overflow-x: hidden;
    }
</style>

<!-- TOP -->
<div id="id-img-top"
     style="z-index:-10; background: url('@Url.Content("~/Images/Home/Top.jpg")') no-repeat center; background-size: cover;"
     data-paroller-factor="0.5">

    <div class="text-center">
        <div id="id-scroll-down-arrow" class="bounce" style="position: relative; font-size:80px">
            <div class="glyph-icon acf-es-glyph-icon acf-es-cloud-computing"></div>
        </div>
    </div>
</div>

<!-- MID -->
<div id="id-txt-mid" class="jumbotron border-0" style="background-color:#ffffff; margin-bottom:0">
    <h3 id="id-txt-mid-welcome" class="text-center">Welcome to AVR Technologies</h3>
    <h6 class="text-center"><small>Please log in or register an account below</small></h6>
</div>

<!-- BOT -->
<div id="id-img-bot"
     style="z-index:-10; background: url('@Url.Content("~/Images/Home/Bot.jpg")') no-repeat center; background-size: cover;"
     data-paroller-factor="0.5">

</div>
<h1 id="id-txt-bot-h1" style="position:fixed;" class="text-center">Authentication</h1>

<script>
    function DoNothing() {
    };

    function InitOnce() {
        InitOnce = DoNothing;

        window.addEventListener('resize', setWindowSize);
        window.addEventListener('scroll', DoWork);

        setWindowSize();

        $('#id-img-top').paroller();
        $('#id-img-bot').paroller();
    }

    function DoWork() {

        document.getElementById("id-txt-bot-h1").style.top = (document.getElementById("id-img-bot").getBoundingClientRect().top +
            Math.round(document.getElementById("id-img-bot").getBoundingClientRect().height / 2.4)).toString() + "px";
        document.getElementById("id-txt-bot-h1").style.minWidth = Math.round(window.innerWidth).toString() + "px";
        document.getElementById("id-txt-bot-h1").style.maxWidth = Math.round(window.innerWidth).toString() + "px";
    }

    function setWindowSize() {
        var xHeight = window.innerHeight;
        var xHeightCenter = Math.round(xHeight / 2);
        var xVSection = Math.round(xHeight / 5);
        var xVSectionCenter = Math.round(xVSection / 2);
        var xHeightPlusSection = xHeight + xVSection;
        var xVCenter = Math.round(xHeightPlusSection / 2);

        var xWidth = window.innerWidth;
        var xHCenter = Math.round(xWidth / 2);

        /* TOP */
        document.getElementById("id-scroll-down-arrow").style.top = (xHeightCenter - 90).toString() + "px";
        document.getElementById("id-img-top").style.minHeight = xHeightPlusSection.toString() + "px";
        document.getElementById("id-img-top").style.maxHeight = xHeightPlusSection.toString() + "px";

        /* BOT */
        document.getElementById("id-img-bot").style.minHeight = Math.round(xHeightPlusSection * 1.2).toString() + "px";
        document.getElementById("id-img-bot").style.maxHeight = Math.round(xHeightPlusSection * 1.2).toString() + "px";

        $(window).scrollTop($(window).scrollTop() + 1);
        $(window).scrollTop($(window).scrollTop() - 1);

        DoWork();
    }

    window.onscroll = function (ev) {
        if ((window.innerHeight + window.pageYOffset) >= document.body.offsetHeight) {
            /*Reached the bottom*/
        }
    };

    InitOnce();

</script>
