<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SocialRankAPISoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://andrivr.hopto.org:8080/SocialRankAPI/SocialRankAPI.asmx"
                binding="basicHttpBinding" bindingConfiguration="SocialRankAPISoap"
                contract="wsSocialRankAPI.SocialRankAPISoap" name="SocialRankAPISoap" />
        </client>
    </system.serviceModel>
</configuration>