<link href="~/Content/Try1.css" rel="stylesheet" />


<div class="Try1L6" data-0="background-position:0px 0px;" data-end="background-position:-0px -500px;"></div>



<p style="padding-bottom:15000px"></p>

<script type="text/javascript" src="~/Scripts/skrollr.js"></script>

<!--[if lt IE 9]>
<script type="text/javascript" src="../skrollr-ie/dist/skrollr.ie.min.js"></script>
<![endif]-->

<script type="text/javascript">
    var s = skrollr.init();
</script>
