
@{
    ViewBag.Title = "Test2";
    //Layout = "";
}

<div class="">
    <div class="row" style="margin-left:5px; margin-right:5px;">

        <!--ITEM-->
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="col-md-12">

                <!--INNER WITH SHADOW AND BACKGROUND IMAGE-->
                <div class="row" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); height:380px; ">
                    <!--BACKGROUND IMAGE-->
                    <img class="img-fluid w3-opacity-max" src="~/Content/Pics/Stock/Originals/IMG_20190109_103139.jpg" />
                    
                    <!--TOP IMAGE-->
                    <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); position:absolute; left:0px; top:15px; width:100%;height:200px;" src="~/Content/Pics/Stock/Originals/IMG_20190109_103139.jpg" />

                    
                    <table class="w3-small  " style="position:absolute; left:2px; top:215px; width:100%; opacity:0.8;">


                        <tr class="h6 text-white" style="background-image:linear-gradient(to right, black, gray);">
                            <td width="5px;"></td>


                            <td colspan="2">
                                01 - Plant Name
                            </td>

                        </tr>


                        <tr class="bg-transparent text-dark">
                            <td width="5px;"></td>

                            <td width="20px;">
                                <div class="glyphicon acf-et-glyph-icon acf-et-calendar"></div>
                            </td>
                            <td>
                                2019/07/15
                            </td>

                        </tr>


                        <tr class="bg-transparent text-dark">
                            <td width="5px;"></td>
                            <td width="20px;">
                                <div class="glyphicon acf-es-glyph-icon acf-es-time"></div>
                            </td>
                            <td>
                                <!--AGE-->
                                15 days
                            </td>

                        </tr>


                        <tr class="bg-transparent text-dark">
                            <td width="5px;"></td>
                            <td width="20px;">
                                <div class="glyphicon acf-et-glyph-icon acf-et-up-arrow"></div>
                            </td>
                            <td>
                                <!--PHASE-->
                                Vegetative
                            </td>

                        </tr>

                        <tr style="height:3px; background-image:linear-gradient(to right, crimson, crimson);"><td colspan="3"></td></tr>

                        <tr>
                            <td width="5px;"></td>
                            <td colspan="2">
                                <table class="w3-tiny" style="width:100%">
                                    <tr>
                                        <th>DATE</th>
                                        <th>EVENT</th>
                                        <th>DETAILS</th>
                                    </tr>
                                    <tr>
                                        <td>2019/10/24</td>
                                        <td><div class="glyphicon acf-ec-glyph-icon acf-ec-notebook-1" style="font-size:medium"></div></td>
                                        <td>1234567890123456789</td>
                                    </tr>
                                    <tr>
                                        <td>2019/10/25</td>
                                        <td><div class="glyphicon acf-et-glyph-icon acf-et-up-arrow" style="font-size:medium"></div></td>
                                        <td>Vegetative</td>
                                    </tr>
                                    <tr>
                                        <td>2019/10/25</td>
                                        <td><div class="glyphicon acf-et-glyph-icon acf-et-sun" style="font-size:medium"></div></td>
                                        <td>Inspected</td>
                                    </tr>

                                </table>




                            </td>




                        </tr>









                    </table>



                </div>
            </div>
        </div>






        <!--ITEM-->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" style="background-color:white;">
            <!--INNER WITH SHADOW-->
            <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); height:300px; background-color:crimson">
            </div>
        </div>
        <!--ITEM-->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" style="background-color:white;">
            <!--INNER WITH SHADOW-->
            <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); height:300px; background-color:crimson">
            </div>
        </div>
        <!--ITEM-->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" style="background-color:white;">
            <!--INNER WITH SHADOW-->
            <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); height:300px; background-color:crimson">
            </div>
        </div>
        <!--ITEM-->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" style="background-color:white;">
            <!--INNER WITH SHADOW-->
            <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); height:300px; background-color:crimson">
            </div>
        </div>
        <!--ITEM-->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" style="background-color:white;">
            <!--INNER WITH SHADOW-->
            <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); height:300px; background-color:crimson">
            </div>
        </div>
        <!--ITEM-->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" style="background-color:white;">
            <!--INNER WITH SHADOW-->
            <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); height:300px; background-color:crimson">
            </div>
        </div>
        <!--ITEM-->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" style="background-color:white;">
            <!--INNER WITH SHADOW-->
            <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); height:300px; background-color:crimson">
            </div>
        </div>
        <!--ITEM-->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" style="background-color:white;">
            <!--INNER WITH SHADOW-->
            <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); height:300px; background-color:crimson">
            </div>
        </div>
        <!--ITEM-->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" style="background-color:white;">
            <!--INNER WITH SHADOW-->
            <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); height:300px; background-color:crimson">
            </div>
        </div>
        <!--ITEM-->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" style="background-color:white;">
            <!--INNER WITH SHADOW-->
            <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); height:300px; background-color:crimson">
            </div>
        </div>
        <!--ITEM-->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" style="background-color:white;">
            <!--INNER WITH SHADOW-->
            <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); height:300px; background-color:crimson">
            </div>
        </div>
        <!--ITEM-->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" style="background-color:white;">
            <!--INNER WITH SHADOW-->
            <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); height:300px; background-color:crimson">
            </div>
        </div>
        <!--ITEM-->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" style="background-color:white;">
            <!--INNER WITH SHADOW-->
            <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); height:300px; background-color:crimson">
            </div>
        </div>

    </div>
</div>

