<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsSocialRankAPISoap" />
                <binding name="wsSocialRankAPISoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/SocialRankAPI/wsSocialRankAPI.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsSocialRankAPISoap"
                contract="wsGrowmeAPI.wsSocialRankAPISoap" name="wsSocialRankAPISoap" />
            <endpoint address="http://localhost:8000/SocialRankAPI/wsSocialRankAPI.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsSocialRankAPISoap1"
                contract="wsSocialRankAPI.wsSocialRankAPISoap" name="wsSocialRankAPISoap1" />
        </client>
    </system.serviceModel>
</configuration>